ul {
  list-style: circle;
}

li {
  margin-left: 30px;
}

.hideBtn {
	color: red;
}

.showBtn {
	color: green;
}

.add {
	color: green;
}

.delete {
	color: red;
}

.show {
	display: inline;
}

.hide {
	display: none;
}

.control-btn {
	cursor: pointer;
}

.control-btn:hover {
	color: black;
};